.mainContainer {
    display: flex;
    background-image: url('../../assets/portada.png');
    background-size:100vw;
    background-repeat: no-repeat;
    height: 88vh;
    align-items: center;
    justify-content: right;
}

.mainContainer h2{
    color: white;
    font-size: 3.5rem; 
    text-align: right;
    font-weight: 700;
    font-style: normal;
}

.internContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10%;
}

.internContainer button {
    height: 5vh;
    margin: 2rem;
    padding: 0rem 2rem;
}