.mainContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    height: 100vh;
}

.carouselContainer {
    width: 50vw;    
    
}