.mainContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    color: hsba(0, 0%, 28%, 1);
    border: 1px solid blueviolet;
}

.centerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    border: 1px solid blueviolet;
    height: 100%;
}

.leftContainer {
    display: flex;
    flex-direction: column;
    margin: 1rem;
    width: 50%;
    border: 1px solid blueviolet;
}

.leftContainer h2 {
    font-size: 2.6rem;
    font-weight: 700;
}

.leftContainer .body p {
    margin-top: 1.8rem;
    font-size: 1.2rem;
    font-weight: 400;
}

.leftContainer .body h6 {
    font-weight: 800;
    font-size: 1.3rem;
    padding: 1.5rem 0rem;
}

.socialContainer {
    display: flex;
    align-items: center;
    padding: 2rem 0rem;
    gap: 2rem;
    border: 1px solid blueviolet;
}

.socialContainer span{
    font-weight: bold;
    font-size: 1.7rem;
}

.socialContainer img {
    width: 2.5rem;
    margin: 0rem .4rem;
}

.rightContainer {
    display: flex;
    justify-content: center;
    width: 50%;
    border: 1px solid blueviolet;
}

.rightContainer img {
    width: 90%;
    border-radius: 0.4rem;
    box-shadow: 1rem black;
}

@media (min-width: 767px) and (max-width: 1600px) {

    .mainContainer {
        height: auto;
        margin: 6rem 0rem;
    }

    .centerContainer {
        width: 100%;
        height: auto;
        padding: 0 auto;
    }

    .socialContainer {
        margin: 0;
        padding: 0.2rem;
    }

    .leftContainer h6{
        display: none;
    }
}

@media screen and (max-width: 767px) {
    .mainContainer {
        height: 100%;
        margin: 1rem 0rem;
    }

    .centerContainer {
        flex-direction: column;
        margin: 0;
        padding: 0;
        width: 100%;
        height: 80%;
    }

    .rightContainer {
        width: 100%;
    }

    .leftContainer {
        width: 84%;
    }
    
    .leftContainer h2 {
        text-align: center;
    }

    .rightContainer img{
        width: 80%;
        border-radius: 0.5rem;
    }

    .leftContainer .body h6 {
        padding: 0.5rem 0rem;
    }

    .socialContainer span{
        font-size: 1.6rem;
    }

    .socialContainer {
        padding: 0.5rem 0rem;
    }
}

