.mainContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-shrink: 0;
    padding: 0rem 5rem;
    width: 100%;
    height: 11vh;
    border: 1px solid blueviolet;
}

.mainContainer a:link, a:visited, a:active {
    text-decoration:none;
    color: #1b202e;
    font-size: 1.4rem;
}

.navContainer ul {
    margin: 0;
    
}


.mainContainer a:hover {
    color: #1A5366;
    transform: scale(1.05);
    transition: all 0.08s;
}

.contenedorImagen {
    max-width: 10rem;
}

.contenedorImagen img {
    max-width: 100%;
    height: auto;
}

.navContainer {
    display: flex;
    align-items:center;
    gap: 1.5rem;
    border: 1px solid blueviolet;
}

.list {
    display: flex;
    list-style: none;
    color: black;
    border: 1px solid blueviolet;
}

.navLink {
    display: flex;
    padding: .3rem 1.2rem;
    margin: 0rem 1rem;
    color: black;
}

@media (min-width: 767px) and (max-width: 1600px) {
    .mainContainer {
        justify-content: space-between;
        padding: 2rem;
    }

    .navLink {
        margin: 0rem 0.5rem;
    }

}

@media screen and (max-width: 767px) {
    .navContainer {
        display: none;
    }

    .mainContainer {
        justify-content: center;
    }

    .contenedorImagen img {
        margin-left: 0.8rem;
    }
}