.mainContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-shrink: 0;
    padding: 0rem 5rem;
    height: 11vh;
    border: 0.1rem solid grey;
}

.mainContainer a:link, a:visited, a:active {
    text-decoration:none;
    color: #1b202e;
    font-size: 1.4rem;
}

.mainContainer a:hover {
    color: #2a4182;
    transform: scale(1.05);
    transition: all 0.08s;
}

.contenedorImagen {
    max-width: 10rem;
    border: 1px solid black;
}

.contenedorImagen img {
    max-width: 100%;
    height: auto;
}

.navContainer {
    display: flex;
    align-items:center;
    gap: 1.5rem;
    border: 1px solid black;
}

.list {
    display: flex;
    list-style: none;
    color: black;
    border: 1px solid black;
}

.navLink {
    display: flex;
    padding: .3rem 1.2rem;
    margin: 0rem 1rem;
    color: black;
    border: 1px solid black;
}