.carousel {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    padding: 2rem auto;
    margin: 1rem auto;
    width:  100vw; 
    border: 1px solid blueviolet;
}

.cardsContainer {
    display: flex;
    justify-content: center;
    padding: 2rem;
    margin: 2rem 1rem;
    border: 1px solid blueviolet;
}

.slide {
    transition: transform 1s ease; /* Agregar transición para suavizar el cambio */
    transform: translateX(0);
}

.carousel button {
    border: none;
    background-color: inherit;
    border-radius: 2rem;
    padding: 0;
}

.centerCard {
    transform: scale(1.12); /* Aumenta el tamaño de la tarjeta del medio */
}

@media screen and (max-width: 767px) {
    .carousel {
        width: 100%;
        height: 40vh;
        padding: 0rem;
        margin: 0rem;
    }

    .cardsContainer {
      width: 100%;
      height: 100%;
      align-items: center;
    }

    .centerCard {
        transform: none; 
    }
}