.mainFooter {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
}

.contenedorLogo {
    width: 30%;
}

.contenedorLogo img {
    max-width: 100%
}

.mainFooter span {
    font-weight: 700;
    font-size: 2rem;
    padding: 3rem;
}

@media screen and (max-width: 767px) {
    .contenedorLogo {
        width: 53%;
    }

    .mainFooter span {
        font-size: 1.2rem;
    }
}