.mainFooter {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    padding: 2rem;
}

.contenedorLogo {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    border: 1px solid black;
}

.contenedorLogo img {
    max-width: 100%
}

.mainFooter span {
    font-weight: 700;
    font-size: 2rem;
    padding: 1.4rem;
}