.mainContainer {
    display: flex;
    flex-direction: column;
    background-color: #FDFDFD;
    width: 100vw;
}

.cuerpoContainer {
    display: flex;
    flex-direction: column;
    align-self: center;
    padding: 4rem;
    width: 80%;
}

.cuerpoContainer h3 {
    align-self: center;
    color: var(--grayscale-10, #333);
    font-weight: 600;
    font-size: 2.5rem;
    padding: 1rem;
}

.cuerpoContainer li {
    font-size: 1.4rem;
    line-height: 3rem;
}

.mainContainer h4{
    align-self: center;
    font-weight: 700;
    font-size: 2rem;
    margin: 2rem;
}

@media screen and (max-width: 767px) {
    .cuerpoContainer li{
        font-size: 1rem;
    }

    .cuerpoContainer  {
        width: 100%;
        padding: 0rem;
    }

    .contenedorCarousel {
        padding: 1rem 0rem;
    }
}