.socialContainer {
    display: flex;
    align-items: center;
    border: 1px solid black;
}

.socialContainer img {
    margin: 0rem .5rem;
    border: 1px solid black;
}

.socialContainer a:hover {
    transform: scale(1.05);
}